# ignore everything except exceptions below
*

# standard files and folders:
!.gitignore
!Allrun
!Allclean
!Alldebug

!0/
!0/p
!0/U

!constant/
!constant/polyMesh/
!constant/transportProperties
!constant/turbulenceProperties

!system/
!system/controlDict
!system/fvSchemes
!system/fvSolution

!system/blockMeshDict
